<div class="auth-page">

  <div class="auth-left">
    <h1>Math Solver</h1>
    <p>Решай задачи, проверяй ответы и улучшай навыки.</p>
  </div>

  <div class="auth-right">
    <div class="auth-box">

      <h2>Вход</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="actions">
          <%= f.submit "Войти" %>
        </div>

      <% end %>

    </div>
  </div>

</div>